/* .container{
    height: 100vh;
}

.carWrapper{
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    width: 60%;
    height: 40%;
    border: 1px solid green;
    justify-content: center;
    align-content: center;
    margin: 30px;
} */